body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: #fff;
}
* {
	box-sizing: border-box;
}
.navbar-wrapper {
	margin-top: 20px;
	padding-top:0px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar {
	position: relative;
	width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 4px;
	background-color: #222;
	border-color: #080808;
	min-height: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top:0;
	z-index: 1000;
	color:#9d9d9d;
	display: block!important;
	padding-bottom: 0;
	overflow: visible!important;
	visibility: visible!important;
	list-style: none;
}
.navbar a {
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	position: relative;
	display: block;
	color:#9d9d9d;	
	cursor: pointer;
}
.navbar>ul {
	line-height:0;
}
.navbar>ul>li>a:hover{
	color:#fff;
}
.navbar-brand {
	float: left;
	height: 50px;
	margin-left: -15px;
	padding: 15px 15px 15px 15px;
	font-size: 18px;
	line-height: 20px;
	background-color: transparent;
	color:#9d9d9d;
	text-decoration: none;
}
.navbar li{
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;

}
.divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.dropdown-header {
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #777;
	white-space: nowrap;
}
li {
	display: list-item;
}
.dropdown {
	position: relative;
}
.navbar .active>a{
	color: #fff;
	background-color: #080808;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.dp-small {
	display: inline-block;
	margin-right: 10px;
	width: 25px;
	height: 25px;
	background-image: url("");
	background-color: #777;
	vertical-align: middle;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: none;
	min-width: 160px;
	padding: 5px 0;
	margin: 0px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu a {
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu a:hover{
	background-color:#eee;
}
.dropdown-menu>li {
	float: none;
}
.navbar-right {
	float: right;
	margin:0px 0px 0px 0px;
	padding-right:15px;
	padding-left:15px;
}
.navbar-right li {
	float: right;
}
.landingdiv {
	min-height: 450px;
	background-color: #eee;
	width:100%;
	position:relative;
}
.headingbox {
	position:relative;
	top:200px;
	width:100%;
}
.heading {
	position:relative;
	left: auto;
	right: auto;
	text-align:center;
	font-size:50px;
	font-weight: bold;
}
.featurebox {
	min-height: 450px;
}
.featuredivider {
	margin:50px;
	border-top: 1px solid #eee;
}
footer {
	text-align: center;	
	padding-bottom:40px;
}
footer p {
	margin:0;
}